<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/game.css" />

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="/js/game.js"></script>
</head>

<body>

    <div class="jumbotron topOfPage">
        <h1>Lets Play
            <span id="bigBingo">BINGO</span>!</h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-1 checked">
                1
            </div>
            <div class="col-sm-1 checked">
                2
            </div>
            <div class="col-sm-1 checked">
                3
            </div>
            <div class="col-sm-1 checked">
                4
            </div>
            <div class="col-sm-1 checked">
                5
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1 checked">
                6
            </div>
            <div class="col-sm-1 checked">
                7
            </div>
            <div class="col-sm-1 checked">
                8
            </div>
            <div class="col-sm-1 checked">
                9
            </div>
            <div class="col-sm-1 checked">
                10
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1 checked">
                11
            </div>
            <div class="col-sm-1 checked">
                12
            </div>
            <div class="col-sm-1 checked">
                13
            </div>
            <div class="col-sm-1 checked">
                14
            </div>
            <div class="col-sm-1 checked">
                15
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1 checked">
                16
            </div>
            <div class="col-sm-1 checked">
                17
            </div>
            <div class="col-sm-1 checked">
                18
            </div>
            <div class="col-sm-1 checked">
                18
            </div>
            <div class="col-sm-1 checked">
                20
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1 checked">
                21
            </div>
            <div class="col-sm-1 checked">
                22
            </div>
            <div class="col-sm-1 checked">
                23
            </div>
            <div class="col-sm-1 checked">
                24
            </div>
            <div class="col-sm-1 checked">
                25
            </div>

        </div>

    </div>
    <br>
    <br>
    <!-- moderator -->
    <!-- if password is entered, submit button appears.   -->
    <div id="moderator">
        <form class="form-inline" name="form1" id="form1" action="post">
            <label for="text">password</label>
            <input type="text" id="pwd" placeholder="Enter password" name="pwd" value="value">

            <button type="submit" id="pageOpen" class="pageOpen btn btn-default">open </button>
        </form>
        <button>
            <a href="moderator.html">Moderator</a>
        </button>
        <button id="testPwd" onclick="openModPage ()"> confirm password</button>
    </div>



    <div id="listOfItems">
        <ul>
            <li id="aa">

            </li>
            <li id="ab">

            </li>
            <li id="ac">

            </li>
            <li id="ad">

            </li>
            <li id="ae">

            </li>
            <li id="af">

            </li>
            <li id="ag">

            </li>
            <li id="ah">

            </li>
            <li id="ai">

            </li>
            <li id="aj">

            </li>
            <li id="ak">

            </li>
            <li id="al">

            </li>
            <li id="am">

            </li>
            <li id="an">

            </li>
            <li id="ao">

            </li>
            <li id="ap">

            </li>
            <li id="aq">

            </li>
            <li id="ar">

            </li>
            <li id="as">

            </li>
            <li id="at">

            </li>
            <li id="au">

            </li>
            <li id="av">

            </li>
            <li id="aw">

            </li>
            <li id="ax">

            </li>
            <li id="ay">

            </li>
            <li id="az">

            </li>
            <li id="ba">

            </li>
            <li id="bb">

            </li>
            <li id="bc">

            </li>
            <li id="be">

            </li>
            <li id="bf">

            </li>
            <li id="bg">

            </li>

        </ul>
    </div>
</body>

</html>