<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/game.css" />

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="../js/game.js"></script>
</head>
<a href="home.html">Return to HomePage</a>
<!-- start the game, shuffle the pieces, display on site -->
<div id="shuffle">
Restart the Game
</p>

<div id="shuffle"><button class="btn btn-default">Start the game</button></div>
</div>
</head>
<body>
    
</body>
</html>